import React from "react";

export interface {{properCase name}}Props {}

export const {{properCase name}} = ({}: {{properCase name}}Props) => {
  return (
    <div>
      {{properCase name}}
    </div>
  )
};
